body {
    background-color: #ddd;
    line-height: 1.6;
}

.navbar-inverse {
	background-image: none;
}

.background-course {
    background-size: cover;
    height: 400px;
    background-image: url('/hkw-background.jpg');
    background-position: center;
}

.background-course > .container > div.row {
    background-color: #fff;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.background-course > .container > h1 {
    color: #fff;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 48px;
}

.container-course {
    padding-right: 0;
    padding-left: 0;
}

.text-panicdescription {
    display: block;
    color: #999;
    margin-top: 20px;
}


/* Questionmodule */

.question-pane {
	position: relative;
	margin-top: 70px; 
}

.question-pane  > .avatar {
	position: absolute;
	left: 10px;
	top: -50px;
}

.question-pane > .panel-heading  > h3.panel-title {
	margin-left: 100px;
}