body {
    background-color: #ddd;
    line-height: 1.6;
    margin-top: 50px;
}

.navbar-inverse {
	background-image: none;
}

.background-course {
    background-size: cover;
    height: 400px;
    background-image: url('/hkw-background.jpg');
    background-position: center;
}

div.row {
    background-color: #fff;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 36px;
}

img.loading {
    margin: 0 auto;
    padding-bottom: 15px;
    display: block;
}

.container-course {
    padding-right: 0;
    padding-left: 0;
}

.text-panicdescription {
    display: block;
    color: #999;
    margin-top: 20px;
}

/* Frontpage */
.container-frontpage .row {
    background: none;
}

.container-frontpage h1 {
    color: #333;
}

.header-frontpage {
    margin-top: -30px;
    margin-bottom: 20px;
}

.header-frontpage > span {
    font-size: 150px;
}

.background-frontpage > .container {
    border-top: 5px solid #337AB7;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}

/* Questionmodule */

.question-pane {
	position: relative;
	margin-top: 70px;
}

.question-pane  > .avatar {
	position: absolute;
	left: 10px;
	top: -50px;
}

.question-pane > .panel-heading  > h3.panel-title {
	margin-left: 100px;
}

.question {
    margin-top:20px;
    padding-bottom: 0 !important;
}

.question.answer {
    width:100%;
    margin-left:1%;
}

.question.answer-correct .userinfo {
    background-color: rgb(207, 236, 207);
}

.question .username {
    font-weight: 600;
    display: block;
}

.question .avatar {
    margin-top: -10px;
    margin-bottom: 20px;

}

.question .votebutton {
    padding-top: 10px;
}

.question .votebutton > span {
    display:block;
}

.question .votebutton:last-child {
    margin-bottom:10px;
}

.admin-quicklook {
    color: #fff;
    text-align: center;
    background:none !important;
}

.admin-quicklook div:nth-child(2) {
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: #000;
}

.admin-quicklook .h2 > .small {
    color: #aaa !important;
}

.textpadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.shadowed {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Rooms controller */

.container.rooms {
    border-top: 5px solid #337AB7;
    margin-top: 70px;
}

/* Expander for Answers */
.panel{
    background-color: #ddd;
}
.panel a:hover {
    text-decoration:none;
}
.panel a{
    color:black;
}
.panel a h4:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading {
	background-color: white;
}

.reconnect {
    position: fixed;
    z-index: 1000;
    width: 60%;    
    text-align:center;
    min-height:3em;
    padding-top:1em;
    opacity:0.8;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.search {
    float:right;
    margin-bottom: 5px;
    width:30%;
}