<div class="row row-chat-heading shadowed">
    <div class="col-md-12 questioninput-header">
        <div class="pull-right" ng-if="room.config.components.discussions"> oder in den <button ng-click="inverseQuizMode()" class="btn btn-default">Fragemodus schalten</button></div>
        <h2>Quiz</h2> 
    </div>
    <div class="col-md-12">
        <div ng-if="quizzes.length !== 0">
            <!-- list all available quizzes to select -->
            <div class="form-group">
                <label for="sel1">Liste der Verfügbaren Quizeinheiten</label>
                <select class="form-control" id="sel1" ng-model="quizSelection" ng-change="changeQuiz(quizSelection)">
                    <option ng-repeat="quiz in quizzes">{{quiz.description}}</option>
                </select>
            </div>
            <div ng-if="quizSelection">
                <ul class="pagination">
                    <li ng-repeat="question in quiz.questions" ng-class="($parent.quizQuestionSelection==$index)?'active':''">
                        <a ng-click="$parent.quizQuestionSelection = $index;">{{$index+1}}</a>
                    </li>
                </ul>
                <h2 style="margin-top:0;">Frage: {{quiz.questions[quizQuestionSelection].description}}</h2>
                <form>
    				<div ng-repeat="answer in quiz.questions[quizQuestionSelection].quizQuestion.answers" ng-class="{ 'answer-correct': isCorrect(answer), 'answer-bad' : isBad(answer)}">
                        <div class="checkbox" ng-if="answer.checkbox">
                            <label for="{{answer._id}}"> <input ng-model="answer.checked" id="{{answer._id}}" type="checkbox"> {{answer.description}} </label>
                        </div>
                        <div ng-if="answer.radiobox">
                            <input name="quiz" ng-model="quiz.questions[quizQuestionSelection].quizQuestion.radioChecked" id="{{answer._id}}" type="radio" ng-value="answer._id">
                            <label for="{{answer._id}}"> {{answer.description}} </label>
                        </div>
                        <div ng-if="answer.text">
                            <label for="{{answer._id}}"> {{answer.description}} </label>
                            <input ng-model="answer.checked" id="{{answer._id}}" type="text">
                        </div>
                    </div>
                </form> 
                <div ng-if="!quizSending && !(quiz.questions[quizQuestionSelection].evaluationUserAnswers.userRight.length || quiz.questions[quizQuestionSelection].evaluationUserAnswers.userFalse.length)">
                    <button ng-disabled="quizQuestionSelection != quiz.questions.length - 1" type="button" ng-click="sendQuiz()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> {{ quizQuestionSelection != quiz.questions.length - 1 ? 'nächste Seite wählen' : 'Absenden' }} </button>
                    <!--<button ng-if="quizQuestionSelection < quiz.questions.length - 1" type="button" ng-click="$parent.quizQuestionSelection = $index + 1" class="btn btn-primary pull-right"> Weiter </button>-->
                </div>
                <div ng-if="quizSending" class="pull-right">
                    <img src="loading.gif" style="height: 20px; width: 20px;" />
                </div>
            </div>
        </div>
        <div ng-if="quizzes.length === 0">
            <h4 style="color:#444;" class="text-center"> Es ist kein Quiz verfügbar :-( </h4>
        </div>
    </div>
</div>
