<div class="row row-chat-heading shadowed">
    <div class="col-md-12 questioninput-header">
        <div class="pull-right" ng-if="room.config.components.discussions"> oder in den <button ng-click="inverseQuizMode()" class="btn btn-default">Fragemodus schalten</button></div>
        <h2>Quiz</h2> 
    </div>
    <div class="col-md-12">
        <div ng-if="quizzes.length !== 0 && !initLoading">
            <!-- list all available quizzes to select -->
            <div class="form-group">
                <label for="sel1">Liste der Verfügbaren Quizeinheiten</label>
                <select class="form-control" id="sel1" ng-model="quizSelection" ng-change="changeQuiz(quizSelection)">
                    <option ng-repeat="quiz in quizzes">{{quiz.description}}</option>
                </select>
            </div>
            <div ng-if="quizSelection">
                <ul class="pagination">
                    <li ng-repeat="question in quiz.questions" ng-class="($parent.quizQuestionSelection==$index)?'active':''">
                        <a ng-click="$parent.quizQuestionSelection = $index;">{{$index+1}}</a>
                    </li>
                </ul>
                <h2 style="margin-top:0;">Frage: {{quiz.questions[quizQuestionSelection].description}}</h2>
                <div ng-if="quiz.answered">
                    War Deine Antwort richtig, wird der Beschreibungstext <code style="color: green">grün</code>, sonst <code style="color:red">rot</code> markiert.
                    Deine ursprüngliche Antwort wird Dir ebenfalls angezeigt.
                    Hast Du ein Feld ausgewählt, lautet die Antwort <code>Ja</code>, sonst <code>Nein</code>.
                </div>
                <hr>
                <form>
    				<div ng-repeat="answer in quiz.questions[quizQuestionSelection].quizQuestion.answers" ng-class="{ 'answer-correct': isCorrect(answer) || (!isBad(answer) && quiz.answered), 'answer-bad' : isBad(answer)}">
                        <div class="checkbox" ng-if="answer.checkbox">
                            <label for="{{answer._id}}"> <input ng-if="!quiz.answered" ng-model="answer.checked" id="{{answer._id}}" type="checkbox"> {{answer.description}} </label>
                        </div>
                        <div ng-if="answer.radiobox">
                            <input name="quiz" ng-if="!quiz.answered" ng-model="quiz.questions[quizQuestionSelection].quizQuestion.radioChecked" id="{{answer._id}}" type="radio" ng-value="answer._id">
                            <label for="{{answer._id}}"> {{answer.description}} </label>
                        </div>
                        <div ng-if="answer.text">
                            <label for="{{answer._id}}"> {{answer.description}} </label>
                            <input ng-if="!quiz.answered" ng-model="answer.checked" id="{{answer._id}}" type="text">
                        </div>
                        <div ng-if="quiz.answered">
                            Deine zuvor abgegebene Antwort war: {{ getMyAnswer(quiz.questions[quizQuestionSelection].givenAnswers, answer) }} <br>
                            Die richtige Antwort lautet: {{ getCorrectAnswer(quiz.questions[quizQuestionSelection].quizQuestion.evaluation, answer) }}
                        </div>

                        <hr>
                    </div>
                </form> 
                <div ng-if="!quizSending && !(quiz.questions[quizQuestionSelection].evaluationUserAnswers.userRight.length || quiz.questions[quizQuestionSelection].evaluationUserAnswers.userFalse.length)">
                    <button ng-if="!quiz.answered" ng-disabled="quizQuestionSelection != quiz.questions.length - 1" type="button" ng-click="sendQuiz()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> {{ quizQuestionSelection != quiz.questions.length - 1 ? 'nächste Seite wählen' : 'Absenden' }} </button>
                    <div ng-if="quiz.answered" class="pull-right">
                        Du hast dieses Quiz bereits bearbeitet 
                    </div>
                </div>
                <div ng-if="quizSending" class="pull-right">
                    <img src="img/loading.gif" style="height: 20px; width: 20px;" />
                </div>
            </div>
        </div>
        <div ng-if="quizzes.length === 0 && !initLoading">
            <h4 style="color:#444;" class="text-center"> Es ist kein Quiz verfügbar :-( </h4>
        </div>
        <div ng-if="initLoading" class="text-center">
            <img src="img/loading.gif" style="height: 40px; width: 40px;"/>
        </div>
    </div>
</div>
