<div style="background: none;" class="row row-panicbtn">
    <div class="col-md-12 text-center">
        <button type="button" ng-if="!room.hasUserPanic" ng-disabled="!room.isRoomRegistered" ng-click="panic()" class="btn btn-danger btn-lg">Vorlesungstempo ist zu hoch!</button>
        <button type="button" ng-if="room.hasUserPanic" ng-disabled="!room.isRoomRegistered" ng-click="unpanic()" class="btn btn-success btn-lg">Ah, ich verstehe!</button>
        <span class="text-panicdescription">
            Dieser Button informiert den Dozierenden sofort darüber, dass er zu schnell ist und Du dem Stoff nicht folgen kannst.<br><a ng-href="{{docentLogin}}" target="_top">Dozentenlogin</a>
        </span>
    </div>
</div>

<div class="row row-chat-heading shadowed">
    <div class="col-md-12">
        <h2>Fragen stellen</h2>
    </div>
    <div class="col-md-12">
        <p>
            Du hast etwas nicht verstanden oder einen Fehler entdeckt? Dann kannst du hier deine Anmerkung loswerden.
            Bitte nutze diese Funktion nur, um über die aktuelle Vorlesung zu diskutieren, andernfalls können deine Beiträge gelöscht oder die Diskussion gesperrt werden.
            <form role="form">
                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="...">
                        <button ng-click="uploadImage($event, 'question')" type="button" class="btn btn-default"><input type="file" accept="image/*" style="display:none"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
                        <!--<button type="button" class="btn btn-default">LaTeX</button>-->
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" style="max-width:100%" rows="5" ng-model="questionText" placeholder="Deine Frage..."></textarea>
                </div>
                <span ng-if="imageUploads['question']">Angehängte Bilder: {{imageUploads['question'].length}}</span>
                <span ng-if="uploading['question']">Bild wird hochgeladen <img src="loading.gif" style="height: 18px; width: 18px;" /></span>
                <button ng-disabled="uploading['question']" ng-click="addQuestion()" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Absenden</button>
            </form>
        </p>
    </div>
</div>