<div class="row row-panicbtn admin-quicklook">
    <div class="col-xs-4"><span class="h2">235<span class="small center-block">aktive Studierende</span></span></div>
    <div class="col-xs-4"><span class="h2">{{panics}}<span class="small center-block">geht es zu schnell</span></span></div>
    <div class="col-xs-4"><span class="h2">0<span class="small center-block">wichtige Fragen</span></span></div>
</div>
<div class="row row-chat-heading shadowed">
    <div class="col-md-12">
        <h2>Raumadministration</h2>               
    </div><!-- Remove comment as soon as settings are implemented
    <div class="col-md-6">
        <h3>Aktivierte Komponenten</h3>
            <form class="form-horizontal">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Diskussionsplattform
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Panicbutton
                    </label>
                </div>    
            </form>    
    </div>
    <div class="col-md-6">
        <h3>Konfiguration</h3>
            <form class="form-horizontal">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Studenten dürfen auf Fragen antworten
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Der Fragensteller darf Antworten als richtig markieren
                    </label>
                </div>
            </form>
            <form class="form-inline">    
                <div class="form-group">
                    <label>
                        Eine Frage ist wichtig, wenn mehr als
                        <input type="input" value="5" checked>
                        Prozent der Studenten diese Frage haben.
                    </label>
                </div>    
            </form>
    </div>-->
    <div class="col-md-12">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Verständnisstatistik anzeigen
        </button>
        <button type="button" ng-click="enableRoom()" ng-if="!room.isRoomRegistered" class="btn btn-primary">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Vorlesung starten
        </button>
        <button type="button" ng-click="disableRoom()" ng-if="room.isRoomRegistered" class="btn btn-primary">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Vorlesung beenden
        </button> 
    </div>                      
</div> 