<div style="background: none;" class="row row-panicbtn">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-danger btn-lg">Vorlesungstempo ist zu hoch!</button>
        <span class="text-panicdescription">
            Dieser Button informiert den Dozierenden sofort darüber, dass er zu schnell ist und Du dem Stoff nicht folgen kannst.
        </span>
    </div>            
</div>

<div class="row row-chat-heading shadowed">
    <div class="col-md-12">
        <h2>Fragen stellen</h2>               
    </div>
    <div class="col-md-12">
        <p>
            Du hast etwas nicht verstanden oder einen Fehler entdeckt? Dann kannst du hier deine Anmerkung loswerden.
            Bitte nutze diese Funktion nur, um über die aktuelle Vorlesung zu diskutieren, andernfalls können deine Beiträge gelöscht oder die Diskussion gesperrt werden.
            <form role="form">
                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
                      <button type="button" class="btn btn-default">LaTeX</button>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" style="max-width:100%" rows="5" ng-model="questionText" placeholder="Deine Frage..."></textarea>
                </div>
                <button ng-click="addQuestion()" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Absenden</button>
            </form>
        </p>
    </div>
</div> 