<div class="row row-panicbtn admin-quicklook">
    <div class="col-xs-4"><span class="h2">{{activeUsers ? activeUsers - 1 : 0}}<span class="small center-block">aktive Studierende</span></span></div>
    <div class="col-xs-4"><span class="h2">{{panics}}<span class="small center-block">geht es zu schnell</span></span></div>
    <div class="col-xs-4"><span class="h2">{{importantQuestions}}<span class="small center-block">wichtige Fragen</span></span></div>
</div>
<div class="row row-chat-heading shadowed">
    <div class="col-md-12">
        <h2>Raumadministration</h2>               
    </div>
    <div class="col-md-6">
        <h3>Aktivierte Komponenten</h3>
            <form class="form-horizontal">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="room.config.components.discussions" ng-change="toggleComponentDiscussion()">
                        Diskussionsplattform
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="room.config.components.panicbutton" ng-change="toggleComponentPanicbutton()">
                        Panicbutton
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="room.config.components.quiz" ng-change="toggleComponentQuiz()">
                        Quizmodul
                    </label>
                </div>
            </form>    
    </div>
    <div class="col-md-6">
        <h3>Konfiguration</h3>
            <form class="form-horizontal">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="room.config.userMayAnswerToQuestion" ng-change="toggleUserMayAnswer()">
                        Studierende dürfen auf Fragen antworten
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="room.config.questionerMayMarkAnswer" ng-change="toggleQuestionerMayMarkAnswer()">
                        Der Fragenautor darf Antworten als richtig markieren
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="room.config.externalStudentsMayEnterRoom" ng-change="toggleExternalStudentsMayEnterRoom()">
                        Externe dürfen diesem Raum beitreten
                    </label>
                </div>
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="room.config.mulitOptionPanicButton" ng-change="toggleMuliOptionPanic()">
                        Panicbutton mit "zu langsam"- <u>und</u> "zu schnell"-Option ausstatten
                    </label>
                </div>-->
            </form>
            <form class="form-inline">    
                <div class="form-group">
                    <label>
                        Eine Frage ist wichtig, wenn mehr als
                        <input type="input" ng-model-options="{ debounce: 500 }" ng-model="room.config.thresholdForImportantQuestion" ng-change="setPanicThreshold()">
                        Studenten diese Frage unterstützen.
                    </label>
                </div>    
            </form>
    </div>

    <div class="clearfix col-md-12"> <h3> Aktionen </h3>
        <div class="col-sm-5">
            <form class="form-horizontal">
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#statModal">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Verständnisstatistik anzeigen
                    </button>
                </div>
                <div class="form-group" ng-show="room.config.externalStudentsMayEnterRoom">
                    <button type="button" class="btn btn-default btn-block" ng-click="showQR = !showQR">
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> QR Code {{ showQR ? 'verbergen' : 'anzeigen' }}
                    </button>
                </div>
                <div class="form-group">
                    <div class="dropdown">
                        <button class="btn btn-default btn-block dropdown-toggle" type="button" id="ModuleDropdown" data-toggle="dropdown" aria-expanded="false">
                            Ansicht: {{ modules[$parent.activeModule] }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="ModuleDropdown">
                            <li role="presentation" ng-repeat="module in modules">
                                <a href="#" role="menuitem" tabindex="-1" ng-click="$parent.$parent.changeDropdownModule($index)">
                                    {{ module }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-offset-1 col-sm-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <button type="button" ng-click="enableRoom()" ng-if="!room.isRoomRegistered" class="btn btn-block btn-primary">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Vorlesung starten
                    </button>
                    <button type="button" class="btn btn-primary btn-block" ng-click="disableRoom()" ng-if="room.isRoomRegistered">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Vorlesung beenden
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="showQR" class="clearfix col-md-12 qr">
        <qr text="joinURL" size="'500'" corrction-level="'H'"></qr> <br>
        Dieser QR-Code beinhaltet den Link: <h4> {{joinURL}} </h4>. <br>
        Zeigen Sie diesen Ihren Teilnehmern, damit sie dem Lernraum beitreten können. Speichern Sie das
        Bild mit einem Rechtsklick und "Bild speichern unter..." zur Einbindung in eine
        Präsentation. Wir empfehlen den oben stehenden Link ebenfalls anzuzeigen.
    </div>
</div>
