<student-poll></student-poll>
<div class="row row-chat-heading shadowed" ng-if="room.config.components.discussions && !quizMode">
    <div class="col-md-12 questioninput-header">
        <div class="pull-right" ng-if="room.config.components.quiz"> oder in den <button ng-click="inverseQuizMode()" class="btn btn-default">Quizmodus schalten</button></div>
        <h2>Fragen stellen</h2> 
    </div>
    <div class="col-md-12">
        <p>
            Du hast etwas nicht verstanden oder einen Fehler entdeckt? Dann kannst Du hier Deine Anmerkung loswerden.
            Bitte nutze diese Funktion nur, um über die Vorlesung zu diskutieren, andernfalls können deine Beiträge gelöscht oder die Diskussion gesperrt werden.
            <form role="form">
                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="...">
                        <upload identifier="'question'" image-uploads="imageUploads" uploading="uploading"></upload>
                        <!--<button type="button" class="btn btn-default">LaTeX</button>-->
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" style="max-width:100%" rows="5" ng-model="questionText" placeholder="Deine Frage..."></textarea>
                </div>
                <span ng-if="imageUploads['question']">Angehängte Bilder: {{imageUploads['question'].length}}</span>
                <span ng-if="uploading['question']">Bild wird hochgeladen <img src="img/loading.gif" style="height: 18px; width: 18px;" /></span>
                <button ng-disabled="uploading['question']" ng-click="addQuestion()" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Absenden</button>
            </form>
        </p>
    </div>
</div>

<div ng-if="(room.config.components.quiz && quizMode) || (!room.config.components.discussions && room.config.components.quiz)">
    <student-quiz></student-quiz>
</div>
