<statistics-modal></statistics-modal>
<quiz-statistics quiz="statisticsQuiz"></quiz-statistics>
<ars-creator room="room"></ars-creator>
<div class="container-course container-fluid">
    <h2 class="col-sm-12 col-xs-12 text-center loading" ng-if="!(showAdmin === true || showAdmin === false)"> Lade Inhalte </h2>
    <div class="background-course" ng-if="(showAdmin === true || showAdmin === false)"> <!-- true false undefined null -->
        <span style="color: #DDD; font-size:9px; position:absolute; opacity:0.7; right: 0;">Bild &copy; Peter Winandy</span>
        <div class="container">
            <h1 data-fittext="1.2" data-fittext-min="8" data-fittext-max="36">{{room.name}}</h1> <!-- size constants by try and error-->
            <div ng-switch on="showAdmin">
                <div ng-switch-when="false"><div ng-include="'html/views/partials/course_panic.html'"></div></div><!--either panic-->
                <div ng-switch-when="true"><div ng-include="'html/views/partials/course_admin.html'"></div></div><!--or admin view-->
            </div>
            <div class="text-center" ng-if="!room.config.components.discussions && !room.config.components.panicbutton && !room.config.components.quiz && !showAdmin">
                <strong> Dieser Lernraum besitzt keine aktivierten Komponenten :-( </strong>
            </div>

            <div ng-switch on="activeModule">
                <div ng-switch-when="0">
                    <div ng-include="'html/views/partials/course_student.html'"></div>
                    <div class="container row shadowed" ng-if="room.config.components.discussions && !quizMode">
                        <h2>Optionen</h2>
                        Im folgenden findest Du einige Optionen, die Dir helfen, schneller auf Fragen zuzugreifen. Sortiere alle Fragen oder wende einen Volltextfilter auf jegliche Inhalte an. Die Filter werden automatisch auf neue Inhalte angewandt.
                        <br><br>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="qSort" class="control-label">Sortierung</label> 
                                <select id="qSort" class="form-control" ng-model="orderProp">
                                    <option value="-votes">Fragen mit den meisten Unterstützern</option>
                                    <option value="elapsedSince">Neueste Fragen</option>
                                    <option value="-elapsedSince">Älteste Fragen</option>
                                    <option value="">unsortiert</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="qSearch" class="control-label">Volltextfilter</label> 
                                <input id="qSearch" class="form-control" type="search" ng-model="query" placeholder="Suche...">
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="question in room.questions | filter:query | orderBy:orderProp" ng-if="room.config.components.discussions && !quizMode">
                        <question room="room" showAdmin="showAdmin" question="question"></question>
                    </div>
                </div>

                <div ng-switch-when="1">
                    <div class="container row shadowed">
                        <h2>Umfrage und Quizverwaltung</h2>
                        Hier können Sie alle Quiz verwalten und bei Bedarf auch aktivieren bzw. deaktivieren.
                        <br><br>
                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#quizMasterModal">Neue Umfrage oder Quiz erstellen</button>
                        <br><br>
                        <ul class="nav nav-tabs">
                          <li role="presentation" ng-class="arsNavSelection == 0 ? 'active' : ''"><a ng-click="arsNavSelection = 0">Umfragen ({{room.poll.length}})</a></li>
                          <li role="presentation" ng-class="arsNavSelection == 1 ? 'active' : ''"><a ng-click="arsNavSelection = 1">Quiz ({{room.quiz.length}})</a></li>
                        </ul>
                        <br>
                        <div ng-switch="arsNavSelection">
                            <div ng-switch-when="0">
                                <div ng-repeat="arsPoll in room.poll | orderBy:'-timestamp'" class="row" 
                                    style="background:transparent; margin:0; border-bottom:1px solid #DDD;">
                                    <div class="col-xs-12">
                                        <h3>{{arsPoll.description}}</h3>
                                        <div style="color:#AAA;">
                                            Erstellt am {{arsPoll.timestamp | date:'dd.MM.yyyy'}} um {{arsPoll.timestamp | date:'HH:mm'}} Uhr
                                        </div>
                                        <br>
                                        <button class="btn btn-default" ng-click="statisticShowing = !statisticShowing" type="button">{{ statisticShowing ? "Statistik verstecken" : "Statistik anzeigen" }}</button>
                                        <button class="btn" ng-class="(!arsPoll.active) ? 'btn-success' : 'btn-default'" type="button" ng-click="togglePollActivation(arsPoll)">
                                            {{(arsPoll.active)?"Deaktivieren":"Aktivieren"}}
                                        </button>
                                        <button class="btn btn-danger" type="button" ng-click="deletePoll(arsPoll)">Löschen</button>
                                        <div ng-if="statisticShowing">
                                            <br>
                                            <poll-statistics poll="arsPoll"></poll-statistics>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="1">
                                <div ng-repeat="arsQuiz in room.quiz | orderBy:'-questions[0].timestamp'" class="row" 
                                    style="background:transparent; margin:0; border-bottom:1px solid #DDD;">
                                    <div class="col-xs-12">
                                        <h3>{{ (arsQuiz.description && arsQuiz.description != '') ? arsQuiz.description : 'Quiz' }}</h3>
                                        <div style="color:#AAA;">
                                            Erstellt am {{arsQuiz.questions[0].timestamp | date:'dd.MM.yyyy'}} um {{arsQuiz.questions[0].timestamp | date:'HH:mm'}} Uhr
                                        </div>
                                        <br>
                                        <button class="btn btn-default" ng-click="showQuizStatistics(arsQuiz)" type="button">Statistik anzeigen</button>
                                        <button class="btn" ng-class="(!arsQuiz.active) ? 'btn-success' : 'btn-default'" type="button" 
                                            ng-click="toggleQuizActivation(arsQuiz)">{{(arsQuiz.active)?"Deaktivieren":"Aktivieren"}}</button>
                                        <button class="btn btn-danger" type="button" ng-click="deleteQuiz(arsQuiz)">Löschen</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>    
    </div>
</div>
