<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Deine persönlichen Informationen</h2>
            Hier kannst Du Deine persönlichen Einstellungen bearbeiten.
            Dein initialer Benutzername ist generiert um deine Identität zu wahren. Möchtest Du auch weiterhin nicht mit Deinem echten Namen Fragen oder Antworten verfassen, solltest Du ein Pseudonym verwenden.
            Um die Änderungen zu speichern, musst Du auf "Speichern" klicken.
            <br><br>
            <table class="table table-hover table-striped table-responsive">
                <tbody>
                    <tr>
                        <th scope="row">
                            Dein Name
                        </th>
                        <td align="center">
                            <div ng-if="editUser">
                                <input type="text" ng-model="user.name">
                            </div>
                            <div ng-if="!editUser">
                                {{username}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Deine eindeutige Nutzer ID
                        </th>
                        <td align="center">
                            {{user.userId}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Dein Profilbild
                        </th>
                        <td align="center">
                            <img class="img-circle" src="{{user.userAvatar}}">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="saveUser(user)" class="btn btn-default pull-right">{{!editUser ? 'Bearbeiten' : 'Speichern'}}</button>
            <br>
        </div>
        <div class="col-sm-6">
            <h2>Soziale Netzwerke</h2>
            Hier hast Du die Möglichkeit, Dich mit einem sozialen Netzwerk zu authentifizieren.
            Dadurch kannst Du Dich jederzeit ohne L2P Zugriff anmelden. Wir speichern lediglich 
            deine Nutzer ID des jeweiligen Netzwerks, um Dich beim nächsten Mal wieder zu erkennen.
            <hr>

            <div class="row social">
                <div class="col-md-6">
                    <div ng-if="user.user.facebook">
                        <a class="disabled btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>
                            Erfolgreich verlinkt!
                        </a>
                    </div>
                    <div ng-if="!user.user.facebook">
                        <a target="_self" href="/login/facebook" class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>
                            Mit Facebook verlinken!
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-if="user.user.github">
                        <a class="disabled btn btn-block btn-social btn-github">
                            <i class="fa fa-github"></i>
                            Erfolgreich verlinkt!
                        </a>
                    </div>
                    <div ng-if="!user.user.github">
                        <a target="_self" href="/login/github" class="btn btn-block btn-social btn-github">
                            <i class="fa fa-github"></i>
                            Mit GitHub verlinken!
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-if="user.user.google">
                        <a class="disabled btn btn-block btn-social btn-google">
                            <i class="fa fa-google"></i>
                            Erfolgreich verlinkt!
                        </a>
                    </div>
                    <div ng-if="!user.user.google">
                        <a target="_self" href="/login/google" class="btn btn-block btn-social btn-google">
                            <i class="fa fa-google"></i>
                            Mit Google verlinken!
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-if="user.user.twitter">
                        <a class="disabled btn btn-block btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>
                            Erfolgreich verlinkt!
                        </a>
                    </div>
                    <div ng-if="!user.user.twitter">
                        <a target="_self" href="/login/twitter" class="btn btn-block btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>
                            Mit Twitter verlinken!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>