<div class="container-frontpage container-fluid">
<div class="header-frontpage text-center">
	<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
</div>
    <div class="background-frontpage">
        <div class="container">
            <h1>YABS<small> &ndash; Yet Another Backchannel System</small></h1>
            <div class="row">
            	<h2>Für Studenten</h2>
            	YABS ist ein interaktives Feedbacksystem für Vorlesungen. Es ermöglicht es Dir, dich während der Vorlesung zu melden, sollte dir die Vorlesung zu schnell gehen. Außerdem kannst du Rückfragen an den Dozenten und deine Kommilitonen stellen - einfach und anonym!
            </div>
            <div class="row">
            	<h2>Für Dozenten</h2>
            	YABS bietet Ihnen einen wertvollen Einblick in die Verständnisprobleme Ihrer Zuhörer. Neben Rückfragen werden Sie sofort darüber benachrichtigt, wenn die Inhalte zu schnell vermittelt werden und können so direkt auf die Probleme eingehen.
            </div>
            <div class="row text-center">
            <h2>Direkt loslegen - Login mit dem RWTH Account<h2>
            <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Einloggen</button>
            </div>
        </div>
    </div>
</div>                