<div class="container">
    <div id="local_login" class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-12">
            <form role="form" ng-submit="login()" class="shadowed">
                <div ng-if="error">
                    <div class="alert alert-danger">
                        <button type="button" class="close" ng-click="reset()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>:-(   </strong> {{ error }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail Adresse</label>
                    <input type="email" class="form-control" id="email" ng-model="email" placeholder="E-Mail">
                </div>
                <div class="form-group">
                    <label for="pw">Passwort</label>
                    <input type="password" class="form-control" id="pw" ng-model="password" placeholder="Passwort">
                </div>

                <button type="submit" class="btn btn-default pull-right">Submit</button>
            </form>
        </div>
    </div>
</div>