<!--<div id="loginModal" class="modal fade out" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="loginModalLabel"> RWTH OAuth Login </h4>
            </div>
            <div class="modal-body">
                <iframe ng-if="loginurl" src="{{loginurl}}"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> fertig </button>
            </div>
        </div>
    </div>
</div>--> <!-- this one does bad things to campus -->
<div class="container-frontpage container-fluid">
	<div class="header-frontpage text-center">
		<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
	</div>
    <div class="background-frontpage">
        <div class="container text-center">
            <h1>YABS<small> &ndash; Yet Another Backchannel System</small></h1>
            <div class="row">
            	<h2>Login</h2>
            	<p style="{{loginurl == '' ? 'visibility: hidden;' : ''}}">
            	Bitte logge Dich mit Deiner TIM Kennung im Popup-Fenster ein. Sollte kein Popup geöffnet worden sein, so klicke bitte <a href="{{loginurl}}" target="_blank">hier</a>.</p>
            </div>
            <div class="row">
           		<img class="loading" src="loading.gif" />
           		<strong ng-if="loginurl == ''">Warte auf RWTH OAuth Service</strong>
           		<strong ng-if="loginurl != ''">Warte auf Autorisierung durch den Benutzer</strong>
            </div>
             <div class="social row text-center">
                <h4>Schon hier gewesen und mit anderen Accounts verlinkt?<h4>
                <a href="/login/facebook" target="_self" class="btn btn-social btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Login </a>
                <a href="/login/google" target="_self" class="btn btn-social btn-google"><i class="fa fa-google" aria-hidden="true"></i> Login</a>
                <a href="/login/twitter" target="_self" class="btn btn-social btn-twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Login</a>
                <a href="/login/github" target="_self" class="btn btn-social btn-github"><i class="fa fa-github" aria-hidden="true"></i> Login </a>
            </div>
        </div>
    </div>
</div>