<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Soziale Netzwerke nutzen</h2>
			<p class="justify">
				Ab jetzt ist es Dir möglich, soziale Netzwerke zum Login zu benutzen.
				Solltest Du Dich schon einmal mit Deinem RWTH Account verbunden haben,
				kannst Du Dich von Deinem Dashboard aus vernetzen! Sollten wir einmal
				Verbindungsprobleme haben, bleibt YABS für Dich und Deine Kommilitonen benutzbar.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Jetzt mit Dashboard</h2>
			<p class="justify">
				YABS bietet jetzt ein Dashboard, mit dem Du Deinen Namen 
				ändern und Dich mit sozialen Netzwerken authetifizieren kannst.
				Dadurch kannst Du Dich nach dem Abmelden schnell in deinen alten
				Account einloggen. So bleiben Dein Name und Dein Profilbild erhalten.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Coming Soon...</h2>
			<p class="justify">
				YABS bietet Dir bald Die Möglichkeit Fragen und Umfragen zum vertiefenden Verständnis
				und für ein schnelles Meinungsbild zu beantworten. 
				<br>
				Dozierende Personen haben demnächst die Möglichkeit Fragen, Umfragen und Quizfragen vorzubereiten,
				so dass diese während der Vorlesung einfach online geschaltet werden können.
			</p>
		</div>
	</div>
</div>