<div ng-style="{'margin-top' : !embedded ? embedded : '0'}" class="container rooms">
	<div ng-if="rooms != undefined && rooms != null && rooms != [] && rooms.length != 0" class="row">
		<table class="table table-hover table-striped table-bordered">
			<thead>
                <tr>
                    <td colspan="2"><h2>Raumübersicht</h2></td>
                    <td style="text-align:center; vertical-align:bottom; padding-bottom:1.3em;">
                        <input type="search" class="form-control ng-pristine ng-valid ng-touched" placeholder="Suche..." ng-model="query">
                    </td>
                </tr>
				<tr>
					<th>ID</th>
					<th>Raum</th>
					<th>Raum betreten</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="room in rooms | filter:query | orderBy:'-l2pID'">
					<td>{{room.l2pID}}</td>
					<td>
						<a href="/course/{{room._id}}">
							{{room.name}}
						</a>
					</td>
					<td><a class="btn btn-success" href="/course/{{room._id}}" role="button">Los!</a></td>
				</tr>
			</tbody>
		</table>
	</div>
    <div ng-if="rooms == undefined || rooms == null || rooms == [] || rooms.length == 0" class="row text-center" style="padding: 20px;">
        <img class="loading" src="loading.gif" />
        <strong>Wir verarbeiten gerade Deine Daten! Dies kann einen Moment dauern. </strong>
    </div>
</div>