<div class="modal fade" id="quizMasterModal" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="quizModalLabel">Umfragen- und Quizverwaltung</h4>
            </div>
            <div class="modal-body">
                <form class="row inline-form">
                    <label class="col-xs-6 col-sm-6">
                        <input type="radio" ng-model="optionQuiz" value="Umfragebeschreibung" checked> Umfrage             
                    </label>
                    <label class="col-xs-6 col-sm-6">
                        <input type="radio" ng-model="optionQuiz" value="Quizfrage"> Quizfrage             
                    </label>
                </form>
                <hr>

                <div class="row" >
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group" style="width:100%;">
                            <label for"qsTextInput"> Ihre Frage... </label>
                            <textarea style="width:100%;height: 100%;" id="qsTextInput" ng-model="qsInputText" placeholder="Ihre {{ optionQuiz }}..."></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="dropdown" aria-expanded="false">
                            <div class="form-group" style="width:100%;">
                                <label for=""> Fügen Sie ein Antwortelement hinzu... </label>
                                <button class="btn btn-default dropdown-toggle" id="addFieldDropdown" style="width:100%" type="button" id="addFieldDropdown" data-toggle="dropdown" aria-expanded="false"> 
                                    Hinzufügen 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" style="width:100%;" role="menu" aria-labelledby="addFieldDropdown">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#" ng-click="addCheckbox()"> 
                                            Checkbox
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#" ng-click="addRadiobox()"> 
                                            Radiobox
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#" ng-click="addTextfield()"> 
                                            Textfeld
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:0;">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group-inline" ng-if="editItem">
                            <textarea style="width:100%;" ng-model="editItem.answer" placeholder="Geben Sie den gewünschten Beschreibungstext ein..."></textarea>
                            <button type="button" style="width:30%" ng-click="delete(editItem)" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-delete"></span> Löschen </button>
                            <select style="width:68%" class="form-control" ng-model="editItem.type">
                                <option value="checkbox">Checkbox</option>
                                <option value="text">Textfeld</option>
                                <option value="radiobox">Radiobox</option>
                            </select>
                            <div ng-if="editItem.type == 'text'">
                                Akzeptierte Eingabe für dieses Textfeld
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="list-group">
                            <a ng-repeat="item in items" href="#" ng-style="item.answer ? '' : {color: 'red'}" ng-click="editAnswer(item)" class="list-group-item" ng-class="item == editItem ? 'active' : ''">
                                {{ item.answer ? item.answer : 'Dieses Feld hat noch keine Beschreibung!'}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left btn-default" ng-click="reset()" data-dismiss="modal"> {{qsInputText ? 'Abbrechen' : 'Schließen'}} </button>
                <button type="button" ng-disabled="!qsInputText || (!items && !qsInput)" class="btn btn-primary pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Absenden </button>

            </div>
        </div>
    </div>
</div>